body{
    background-color: rgb(212, 255, 212);
}

header{
    background-color: rgb(0, 128, 0);
    text-align: center;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}